*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%;
}

:root{
    --color_one: red;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--color_one);
    width: 100vw;
    height: 50vh;
}

.child-one{
    border: solid 1px green;
    width: 100vw;
    height: 50%;
    align-self: center;
}

.child-two{
    border: solid 1px blue;
    width: 33vw;
    height: 50%;
    align-self: center;
}
.child-three{
    border: solid 1px rgb(0, 225, 255);
    width: 33vw;
    height: 50%;
    align-self: center;
}
.child-four{
    display: inline-flex;
    flex-direction: row;
    border: solid 1px rgb(255, 0, 157);
    width: 33vw;
    height: 50%;
    justify-content: center;

}

.child-four img{
    width: 28vw;
    height: auto;
}