*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    font-size: 62.5%;
}

:root{
    --color_one: red;
    --color_one_background: green;
    --color_two_background: rgb(0, 61, 10);
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid var(--color_one);
    width: 100vw;
    height: 50vh;
    justify-content: center;
    background: var(--color_one_background);
}

.child-one_hp{
    height: 60%;
    width: 90%;
    text-align: center;
    background: var(--color_two_background);
}

.child-one_hp h1{
position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
}

.child-two_hp{
    
}

